@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img fetchpriority="high" width="768" height="265" src="https://camposdealer.com.br/wp-content/uploads/2023/01/campos_dealer_logo_horz.svg" class="attachment-medium_large size-medium_large wp-image-1148" alt="">
</div>
